-- =====================================================
-- CHECK CHARACTERISTIC ID COLUMN TYPES
-- Verify current data types before running fixes
-- =====================================================

DO $$
DECLARE
    column_record RECORD;
    uuid_columns TEXT[] := ARRAY[]::TEXT[];
    text_columns TEXT[] := ARRAY[]::TEXT[];
BEGIN
    RAISE NOTICE 'Checking characteristic ID column types...';

    -- Check each characteristic ID column
    FOR column_record IN
        SELECT table_name, column_name, data_type
        FROM information_schema.columns
        WHERE (table_name = 'applications' AND column_name IN ('application_characteristic_id', 'guarantor_characteristic_id'))
           OR (table_name = 'properties' AND column_name = 'property_characteristic_id')
           OR (table_name = 'rental_owners' AND column_name = 'rental_owner_characteristic_id')
           OR (table_name = 'rental_contract_conditions' AND column_name = 'contract_conditions_characteristic_id')
        ORDER BY table_name, column_name
    LOOP
        IF column_record.data_type = 'uuid' THEN
            uuid_columns := array_append(uuid_columns, column_record.table_name || '.' || column_record.column_name);
            RAISE NOTICE '❌ %.% is UUID type (needs conversion)', column_record.table_name, column_record.column_name;
        ELSIF column_record.data_type = 'text' OR column_record.data_type = 'character varying' THEN
            text_columns := array_append(text_columns, column_record.table_name || '.' || column_record.column_name);
            RAISE NOTICE '✅ %.% is TEXT type (ready)', column_record.table_name, column_record.column_name;
        ELSE
            RAISE NOTICE '⚠️  %.% is % type (unexpected)', column_record.table_name, column_record.column_name, column_record.data_type;
        END IF;
    END LOOP;

    RAISE NOTICE '';
    RAISE NOTICE 'SUMMARY:';
    RAISE NOTICE '  UUID columns (need conversion): %', array_length(uuid_columns, 1);
    RAISE NOTICE '  TEXT columns (ready): %', array_length(text_columns, 1);

    IF array_length(uuid_columns, 1) > 0 THEN
        RAISE NOTICE '';
        RAISE NOTICE '⚠️  ACTION REQUIRED: Convert UUID columns to TEXT before running format fixes';
        RAISE NOTICE '   Run the column type conversion first!';
    ELSE
        RAISE NOTICE '';
        RAISE NOTICE '✅ All columns are TEXT type - safe to run format fixes';
    END IF;
END $$;

-- Also check sample data
SELECT 'applications' as table_name, count(*) as total_rows,
       count(application_characteristic_id) as with_app_id,
       count(guarantor_characteristic_id) as with_guarantor_id
FROM applications

UNION ALL

SELECT 'properties' as table_name, count(*) as total_rows,
       count(property_characteristic_id) as with_prop_id,
       0 as dummy
FROM properties

UNION ALL

SELECT 'rental_owners' as table_name, count(*) as total_rows,
       count(rental_owner_characteristic_id) as with_owner_id,
       0 as dummy
FROM rental_owners

UNION ALL

SELECT 'rental_contract_conditions' as table_name, count(*) as total_rows,
       count(contract_conditions_characteristic_id) as with_contract_id,
       0 as dummy
FROM rental_contract_conditions;