-- Consulta para verificar los tipos de propiedad en tu BD
-- Ejecuta esto en el SQL Editor de Supabase

SELECT id, address_street, property_type, status 
FROM properties 
WHERE owner_id = 'TU_USER_ID_AQUI' 
ORDER BY created_at DESC 
LIMIT 10;
